@import "/styles/mixins";

.ListButtons {
  @include flexCenter;
  @include marginTopBottom;
  button {
    @include ovalElementMobile;
    svg {
      margin-right: 5px;
    }
  }
  .createButton {
    margin-right: 10%;
  }
  .deleteButton {
    background-color: firebrick;
  }
}

